@page
@model WebApp.Pages.AllReservationsModel

<head>
    <title>All Reservations</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-3">All Reservations</h1>

    @if (Model.Reservations.Count > 0)
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Route</th>
                <th>Total Quoted Price</th>
                <th>Total Quoted Travel Time</th>
                <th>Companies</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.FirstName</td>
                    <td>@reservation.LastName</td>
                    <td>@AllReservationsModel.FormatRoute(reservation.Routes)</td>
                    <td>@double.Round(reservation.TotalQuotedPrice, 2)€</td>
                    <td>@AllReservationsModel.FormatTimeSpan(reservation.TotalQuotedTravelTime)</td>
                    <td>@string.Join(", ", reservation.Companies)</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No reservations found.</p>
    }
</div>
</body>